.p-container {
  height: 8px;
  width: 200px;
  border-radius: 10px;
  background: yellow;
  margin: 30px;
  animation-name: progress;
  animation-duration: 8s;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 200px;
  }
}
